.imgWrapper {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}
.img {
  width: 100%;
  height: 100%;
}
.cartItem {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 20px 0 0;
  border-bottom: 1px solid black;
}
.flexRow1,
.flexRow2 {
  display: flex;
  align-items: center;
  min-width: 250px;
}
.flexRow2 {
  justify-content: space-between;
}
h1 {
  margin: 30px auto;
  width: fit-content;
}
.total {
  margin: 50px auto;
  width: fit-content;
}
.title {
  font-size: 1em;
  max-width: 120px;
}
.checkOutSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 600px) {
  .title {
    font-size: 1.5em;
  }
  .imgWrapper {
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
  }
  .cartSection {
    max-width: 700px;
    margin: 0 auto;
  }
}
