.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #394759;
  color: white;
  padding: 20px;
  margin: 50px auto;
  max-width: 600px;
  border-radius: 2%;
}
.formItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}
.formItemInputs {
  width: 200px;
  height: 24px;
  margin-top: 5px;
}
.formTextArea {
  width: 200px;
  margin-top: 5px;
}
.errorMessage {
  color: #ff9999;
  font-size: 1.1em;
  text-align: center;
  border-radius: 2%;
  margin: 2px;
}
