.checkOutBtn {
  width: 200px;
  color: white;
  background-color: #394759;
  margin-bottom: 60px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 12px;
}
.checkOutBtnEmpty {
  background-color: #83878b;
}
.checkOutBtn:hover {
  background-color: #ffa501;
  color: black;
}
