.footer {
  background-color: #394759;
  padding: 10px 0;
}
.footerItem,
.footerLink {
  color: white;
  margin: 10px 5px;
  font-size: 1.2em;
}
.linksWrapper {
  display: flex;
  flex-direction: column;
}
.footerLink:hover,
.footerLink:focus,
.footerLink:active {
  color: #ffa501;
}
