.navigation {
  max-height: 150px;
  min-height: 70px;
  display: flex;
  justify-content: baseline;
  background-color: #394759;
}
.ul {
  list-style: none;
  display: flex;
  color: white;
  align-items: end;
  margin: 0 30px 16px auto;
}
.li {
  margin: 0 15px;
  height: fit-content;
  font-size: 22px;
}
.link {
  color: white;
  text-decoration: none;
}
.link:hover,
.link:active,
.link:focus {
  color: #ffa501;
}
.imgWrapper {
  min-height: 70px;
  max-width: 30vw;
  display: flex;
}
.img {
  width: 100%;
  min-height: 100%;
}
@media screen and (min-width: 600px) {
  .imgWrapper {
    max-width: 200px;
    max-height: 150px;
  }
  .li {
    font-size: 26px;
  }
}
